{% extends "base.html" %}
{% block content %}
<div class="card text-center">
  <div class="card-header">
    <a href="https://five.epicollect.net/">
     <img src="https://i.ibb.co/hsCqTfx/brand.png" width="170" height="40" class="d-inline-block align-top" alt="Epicollect5-logo" loading="fast">
    </a>
  </div>
  <div class="card-body">
    <h1 class="card-title">How you can contribute to our project?</h1>
    <p class="card-text">
    The dataset of Environmental Noice Pollution measurements that used in this project comes from Epicollect5 and contains data collected in an specific area of the
     municipality of Pune, India. Epicollect5 is a mobile and web application for free and easy data collection. Projects are created by using the web 
     application at five.epicollect.net, then downloaded to the device to perform the data collection. It provides both the web and mobile application 
     for the generation of forms and freely hosted project websites for data collection.
     If you are interested to be a contributor to the dataset that we used for this project, you can easily download the Epicollect5 application and, by the instruction
     that provided here you can record your data in the dataset.
    </p>
    <a href="https://five.epicollect.net/more-collect" class="btn btn-primary">Download</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
<div class="container">
  <div class="row justify-content-center shadow-lg p-3 mb-4 bg-white rounded">
    <div class="col-4 p-3 mb-2 bg-white">
      <img src="https://i.ibb.co/hy40G9c/Whats-App-Image-2020-06-04-at-5-08-18-PM.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-4 align-self-center p-4A mb-2 bg-white">
      <p class="p-1 mb-1 ">
      Once you download the application</p>
      <p class=" p-1 mb-1 ">
      you will redirect to this page</p>
      <p class=" p-1 mb-1 ">
      Click on the +Add project</p>
      <p class=" p-1 mb-1 ">
      You will navigate to a search engine</p>
      <p class=" p-1 mb-1 ">
      You will navigate to a search engine
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center shadow-lg p-3 mb-4 bg-white rounded">
    <div class="col-4 p-3 mb-2 bg-white">
      <img src="https://i.ibb.co/bFn2PQh/Whats-App-Image-2020-06-04-at-5-08-18-PM-2.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-4 align-self-center p-4A mb-2 bg-white">
      <p class="p-1 mb-1 ">
      On the search box type</p>
      <p class=" p-1 mb-1 ">
      Noise Pollution Survey</p>
      <p class=" p-1 mb-1 ">
      And then you will fine the project</p>
      <p class=" p-1 mb-1 ">
      Once you click on it, it will be add </p>
      <p class=" p-1 mb-1 ">
      to your peoject list
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center shadow-lg p-3 mb-4 bg-white rounded">
    <div class="col-4 p-3 mb-2 bg-white">
      <img src="https://i.ibb.co/Sf2ZCDW/Whats-App-Image-2020-06-04-at-5-08-19-PM.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-4 align-self-center p-4A mb-2 bg-white">
      <p class="p-1 mb-1 ">
      From your projects click on the</p>
      <p class=" p-1 mb-1 ">
      Noise Pollution Survey</p>
      <p class=" p-1 mb-1 ">
      and then you will be navigate to this page</p>
      <p class=" p-1 mb-1 ">
      Click on the +Add entry on top right corner </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center shadow-lg p-3 mb-4 bg-white rounded">
    <div class="col-4 p-3 mb-2 bg-white">
      <img src="https://i.ibb.co/9tdgN22/Whats-App-Image-2020-06-04-at-5-08-19-PM-1.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-4 align-self-center p-4A mb-2 bg-white">
      <p class="p-1 mb-1 ">
      Since this application has the capability </p>
      <p class=" p-1 mb-1 ">
      to record the coordinate of your entry data,</p>
      <p class=" p-1 mb-1 ">
      once you want to add data to specific project</p>
      <p class=" p-1 mb-1 ">
      it requires to access to your decvice's location.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center shadow-lg p-3 mb-4 bg-white rounded">
    <div class="col-4 p-3 mb-2 bg-white">
      <img src="https://i.ibb.co/hgWLsbW/Whats-App-Image-2020-06-04-at-5-13-41-PM.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-4 align-self-center p-4A mb-2 bg-white">
      <p class="p-1 mb-1 ">
      There you go. </p>
      <p class=" p-1 mb-1 ">
      Now you can easily enter data and contribute </p>
      <p class=" p-1 mb-1 ">
      to the dataset that we used in our project.</p>
      <p class=" p-1 mb-1 ">
      Be carefull to provide correct information,</p>
      <p class=" p-1 mb-1 ">
      on the time that you submit your data!</p>
    </div>
  </div>
</div>
{% endblock %}
<a href="https://ibb.co/PNPk2jM"><img src="https://i.ibb.co/hy40G9c/Whats-App-Image-2020-06-04-at-5-08-18-PM.jpg" alt="Whats-App-Image-2020-06-04-at-5-08-18-PM" border="0"></a>
<a href="https://ibb.co/tz5x4Qf"><img src="https://i.ibb.co/bFn2PQh/Whats-App-Image-2020-06-04-at-5-08-18-PM-2.jpg" alt="Whats-App-Image-2020-06-04-at-5-08-18-PM-2" border="0"></a>
<a href="https://ibb.co/qM4X4fn"><img src="https://i.ibb.co/WWdqdw3/Whats-App-Image-2020-06-04-at-5-08-18-PM-3.jpg" alt="Whats-App-Image-2020-06-04-at-5-08-18-PM-3" border="0"></a>
<a href="https://ibb.co/BnmYMHd"><img src="https://i.ibb.co/Sf2ZCDW/Whats-App-Image-2020-06-04-at-5-08-19-PM.jpg" alt="Whats-App-Image-2020-06-04-at-5-08-19-PM" border="0"></a>
<a href="https://ibb.co/GTrp0kk"><img src="https://i.ibb.co/9tdgN22/Whats-App-Image-2020-06-04-at-5-08-19-PM-1.jpg" alt="Whats-App-Image-2020-06-04-at-5-08-19-PM-1" border="0"></a>
<a href="https://ibb.co/Rg0Y2f0"><img src="https://i.ibb.co/hgWLsbW/Whats-App-Image-2020-06-04-at-5-13-41-PM.jpg" alt="Whats-App-Image-2020-06-04-at-5-13-41-PM" border="0"></a>